<%=content_for :title, 'Market' %>
<h2></h2>
<div class="ui container">
    <button class="ui button" id="searchMenu" ><i class="sidebar icon"></i>Search Menu</button>    
    <%=search_form_for @search, html: { class: 'ui form' ,id: 'advSearch'} do |f|%>
    <div class="fifteen fields">
        <div class="three wide field">
            <%=f.label :name_cont, 'Advance Search' %>
            <%=f.text_field :name_cont, class:'ui field'%>
        </div>
        <div class="two wide field">
               <label>Quality</label>
            <%= f.select :qualities_id_eq, options_from_collection_for_select(Quality.all, 'id', 'name', @search.qualities_id), {include_blank: 'Any'},{ class: 'ui fluid dropdown field'}%>
        </div>
        <div class="two wide field">
               <label>Category</label>
            <%= f.select :category_id_eq, options_from_collection_for_select(Category.all, 'id', 'name', @search.category_id), {include_blank: 'Any'},{ class: 'ui fluid dropdown field'} %>
        </div>
        <div class="two wide field">
               <label>Location</label>
            <%= f.select :locations_id_eq, options_from_collection_for_select(Location.all, 'id', 'name', @search.locations_id), {include_blank: 'Any'},{ class: 'ui fluid dropdown field'} %>
        </div>
        <div class="two wide field">
               <label>Status</label>
            <%= f.select :states_id_eq, options_from_collection_for_select(State.all, 'id', 'status', @search.states_id), {include_blank: 'Any'},{ class: 'ui fluid dropdown field'} %>
        </div>
        <div class="two wide field">
            <%=f.label :price_gteq, 'Min Price -' %>
            <%=f.number_field :price_gteq, class:'ui field', min: '1'%>
        </div>
        <div class="two wide field">
            <%=f.label :price_lteq, 'Max Price' %>
            <%=f.number_field :price_lteq, class:'ui number field',min: '1'%>
        </div>
            <%=f.hidden_field :active_status_id_eq, :value => 1%>
        <div class="one wide field">
           <label class="hidden" id="searchLabel">Search</label>
            <%=f.submit 'Search', class: 'ui button'%>
        </div>        
    </div>
    <div class="field">
       <ul id="sortList" style="font-size: 1.1em;">
       <li>Sort By: </li>
       <li><%=sort_link @search, :name, 'Name', default_order: :desc%> &nbsp;&nbsp;</li>
       <li><%=sort_link @search, :qualities_id, ' Quality '%>&nbsp;&nbsp;</li>
       <li><%=sort_link @search, :created_at, ' Posted Time '%>&nbsp;&nbsp;</li>
       <li><%=sort_link @search, :states_id, ' Status '%>&nbsp;&nbsp;</li>
       <li><%=sort_link @search, :price, ' Price '%>&nbsp;&nbsp;</li>
      </ul>
    </div>
<%end%>
<%if params['q'] != nil %>
<h2>Results: </h2>
<%end%>
    <%=paginate @crates%>
    <%=render 'crates/crate_collection', crates: @crates %>
    <h1></h1>
    <%=paginate @crates%>
    <h1></h1>
</div>


