
<h2></h2>
<div class="profile container">
      <div class="ui centered grid" style="margin:20px">
        <div class="row">
            <div class="ui column" style="height:200px;width:200px">
                <div id="avatar" class="ui circular image">
                    <%=image_tag @current_user.avatar.url(:medium), class: 'ui circular image'%>
                </div>
            </div>
            <div class="ui six wide column">
                <div class="ui items item">
                  <div class="item">
                    <div class="content">
                        <div class="header">Currently Logged in : <%=@current_user.alias%></div>
                        <div class="meta">
                          <span>
                            Contact Number: <%=@current_user.profile.phone_number unless profile_null?%>
                          </span>
                        </div>
                        <div class="description">
                            <p></p>
                            <p></p>
                            <p></p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
     
     <div class="ui container">
         <h2></h2>
          <div class="ui segment container">
           <div class="ui horizontal list">
            <h3>Crates item count <%=link_to '(Manage Crates)', crate_manager_path %></h3>
                  <div class="item">  
                    <div class="content">
                      <div class="header">Active</div>
                      <%=@acc%>&nbsp;
                    </div>
                  </div>
              
              
              <div class="item">
                <div class="content">
                  <div class="header">Inactive</div>
                   <%=@iac%>&nbsp;
                </div>
              </div>
              
              <div class="item">
                <div class="content">
                  <div class="header">Archived</div>
                  <%=@fcc%>&nbsp;
                </div>
              </div>   
              <div class="item">
                <div class="content">
                  <div class="header">Total</div>
                  <%=@fcc+@iac+@acc%>&nbsp;
                </div>
              </div>
             </div>
             </div>
           
           <div class="ui divided list segment container">
             <header>Crate Queries&nbsp;<%=link_to "(All)", q_noti_path%></header>
              <%@q_noti.each do |notif| %>
              <div class="item">
                <div class="content">
                  <div class="description"><%=notif.owner.alias%> <%=render_activity notif%></div>
                </div>
              </div>
              <%end%>
           </div>
           
            <div class="ui divided list segment container">
             <header>Query Replies&nbsp;<%=link_to "(All)", r_noti_path%></header>
              <%@r_noti.each do |notif| %>
              <div class="item">
                <div class="content">
                  <div class="description"><%=notif.owner.alias%> <%=render_activity notif%></div>
                </div>
              </div>
              <%end%>
           </div>
                
            <div class="ui relaxed divided list segment container">
             <header>Forum Notifications&nbsp;<%=link_to "(All)", fp_noti_path%></header>
              <%@f_noti.each do |notif| %>
              <div class="item">
                <div class="content">
                  <div class="description"><%=notif.owner.alias%> <%=render_activity notif%></div>
                </div>
              </div>
              <%end%>
           </div>
</div>
      
   

    
     
  




