<!DOCTYPE html>
<html>
<head>
     <!--[if lt IE9]>
    <script src="//cdnjs.cloudfare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, user-scalable=no" />

  <title><%=yield(:title)%> CratesProjectv3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body id="body">
   <div class="ui thin sidebar inverted vertical menu">
        <%=render 'layouts/sidebar' if logged_in?%>
    </div>
    <div class="pusher">
    <div class="ui vanilla top attached borderless menu">
       <a class="item"  href="/"><%=image_tag("/images/logo.png", class: 'ui centered mini image')%></a>
        <%if logged_in?%>
        <a class="item"  id="side_btn"><i class="sidebar icon"></i>Menu</a>
        <div class="right menu">
        <%else%>

        <div class="right menu">
          <a class="item"  href="/login"><i class="user icon"></i>Login</a>
          <a class="item"  href="/community"><i class="comments outline icon"></i></a>
          <a class="item"  href="/search"><i class="shop icon"></i></a>
        <%end%>
          <a class="item"  href="/help"><i class="help icon"></i></a>
        </div>

    </div>


     <%=render 'shared/error_messages', object: flash%>
     <div id="content">

          <div class="ui active dimmer" id="loader" style="height:100% !important">
            <div class="ui large text loader">Loading</div>
          </div>

      <%=yield%>
     </div>
    <h1></h1>
    <h1></h1>


     </div>

    </div>
    <%=render 'layouts/footer'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
     <script>
        $("#loader").css("height", $(document).height() );
        $('.re.ui.reply.form').hide();
        $('.ui.dropdown').dropdown();
        $('#side_btn').on('click', function(){
            $('.ui.sidebar')
                .sidebar('toggle')
               ;
         })
         $('.reply').on("click", function(e){
                e.stopPropagation();
                $(this).parent().parent().parent().children('.comments').children('.re.ui.reply.form').toggle();
         });
         $('.bxslider').bxSlider({
            mode: 'fade',
            captions: true
         });
         $('#searchMenu').click(function(e){
            e.stopPropagation();
            $('#advSearch').toggleClass('active')
         });
         $('.message .close')
            .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade');
          });
          $('#reportBtn').click(function(e){
            e.stopPropagation();
            $('#reportModal')
                .modal('show')
                .modal('setting','closable',true);
          });
    </script>
</body>
</html>
